.footer_content{
    width: 1200px;
    margin: 0 auto;
    /* padding-bottom: 30px; */
    padding-top: 60px;
    /* border-bottom: 1px solid #666; */
}
.footer_msg{
    float: left;
    width: 160px;
    padding-bottom: 30px;
}
.footer_content .footer_msg li {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
}
.footer_content .footer_msg li.m_header {
    color: #fff;
    font-size: 18px;
}
.footer_msg li.m_row{
    width: 18px;
    height: 3px;
    background: #ccc;
    margin-bottom: 25px;
}
.footer_content .footer_msg li a {
    color: #ccc;
}
/* 微信图片 */
.footer_content .m_right {
    float: right;
}
.footer_content .footer_msg img {
    width: 96px;
    height: 96px;
}
/* 友情链接 */
.footer_content .friend_link {
    width: 1200px;
    margin: 25px auto 0;
    display: flex;
    border-top: 1px solid #666;
    padding-top: 25px;
}
.footer_content .friend_link .clearfix{
    display: flex;
}
.footer_content .friend_link li.link_one {
    color: #fff;
    margin-right: 20px;
}
.footer_content .friend_link li a {
    color: #ccc;
    margin: 0 10px;
}