.index_page {
    background: #f5f5f5;
}
.index_page .banner_div {
    padding-top: 30px;
    position: relative;  
    padding-bottom: 30px;
}

.index_page  .banner_div .banner-content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background: #e3e3e3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 12px 24px 0 rgba(7,17,27,.2)

}
.index_page .banner_list {
    width: 181px;
    position: absolute;
    background: #333;
    height: 100%;
    color: #fff;
}
.index_page .banner_pics{
    margin-left: 180px;
}
.index_page .banner_img {
    width: 1020px;
    height: 366px;
}

.index_page .banner_pics .ant-carousel .slick-dots {
    right: -100px;
    left: auto;
}
.index_page .banner_pics .ant-carousel .slick-dots-bottom{
    display: block;
    background: rgba(0,0,0,.2) !important;
    padding: 10px;
    border-radius: 13px; 
    z-index: 10;
}

.index_page .banner_pics .ant-carousel .slick-dots li{
    height: 8px;
}
.index_page .banner_pics .ant-carousel .slick-dots li button{
    height: 8px;
    border-radius: 5px;
}

.index_page .banner_list_info{
    height:366px;
    /* position:relative; */
    top:10px
}
/* .index_page .banner_list_sub{
    position: absolute;
    top: -4px;
    left: -4px;
    height: 366px;
} */
.banner_list_sub {
    height: 366px;
    position: absolute;
    background: #fff;
    top: -4px;
    left: -4px;
    display: flex;
    /* padding: 20px; */
}
.banner_list_sub .sub_div{
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 200px;
}
.banner_list_sub .foot_courses{
    width: 300px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    background: #f7f5f8;
    overflow-y: auto;
    overflow-x: hidden;
}
.banner_list_sub .foot_courses .courses_top{
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 20px;
}


.sub_div .sub_div_item {
    padding-right: 20px;
    background: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
}
.foot_courses .foot_course {
    width: 220px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
}
.foot_courses .course_img {
    width: 110px;
    height: 63px;
}

.foot_courses .course_info {
    font-size: 14px;
    margin-left: 8px;
}
.foot_courses .course_name{
    position: relative;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    top: 10px;
}
.foot_courses .course_name:hover {
    color: red;
}
.foot_courses .course_price{
    position: absolute;
    color: #999;
    bottom: 30px;
    min-width: 100px;
}

.foot_courses .course_price_vip {
    display: flex;
    position: absolute;
    top: 22px;
}
.c_gold {
    color: #ca9e70;
}
.sub_div_item .name {
    color:#333
}
.sub_div_item .name:hover {
    color:#1890ff
}
.index_page .ant-menu-item:hover,
.index_page .ant-menu-item-active,
.index_page.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.index_page.ant-menu-submenu-active,
.index_page .ant-menu-submenu-title:hover {
  color: #fff;
  background-color: #666666 ;
}
.index_page .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.index_page .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.index_page .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.index_page .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.index_page .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.index_page .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.index_page .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.index_page .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
  border-radius: 2px;
  -webkit-transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
}
.index_page .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.index_page .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.index_page .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.index_page .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
.index_page .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.index_page .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,FFF
.index_page .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.index_page .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
  background: -webkit-gradient(linear, left top, right top, from(#FFF), to(#FFF));
  background: linear-gradient(to right, #FFF, #FFF);
}

.index_page .ant-menu-item:hover,
.index_page .ant-menu-item-active,
.index_page .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.index_page .ant-menu-submenu-active,
.index_page .ant-menu-submenu-title:hover {
  color: #fff;
}

.index_page .index_content_zone {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.index_content_zone .zone_header .big_text {
    font-size: 24px;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}
.small_text {
    font-size: 14px;
    color: #999;
    position: relative;
    top: -2px;
    margin-left: 20px;
}
.zone_header .link_text:hover {
    color: #333;
}
.zone_body {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    margin-left: -10px;
    margin-right: -10px;
    /* margin-left: -10px;
    margin-right: -10px; */
}
.zone_body_item {
    padding: 0 10px;
    width: 25%;
    margin-bottom: 20px;
    position: relative;
}
.zone_body_item .ant-card{
    border-radius: 10px;
    overflow: hidden;
}
.zone_body_item .card_img{
    width: 285px;
    height: 158px;
    border-radius: 6px 6px 0 0;
}

.zone_body_item .ant-card-body{
    padding: 10px;
}
.zone_body_item_name{
    color: #333;
    font-size: 16px;
    font-weight: 500;
    height:50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.zone_body_item_tag {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 0 10px 0;
}
.zone_body_item_tag .free{
    color: #19be6b;
}
.zone_body_item_info {
    display: flex;
    padding-top: 10px;
    font-size: 12px;
    align-items: center;
    color: #9199a1;
}
.zone_body_item_who_info {
    
    flex: 1;
    display: flex;
    align-items: center;
}
.zone_body_item_who_info .name {
    margin-left: 10px;
}
.zone_body_item_who_info .name:hover{
    color: #19be6b;
}
.bg_white {
    background-color: #FFF;
}

.exam_div {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.doc_div .text{
    width:100%;
    padding: 20px;
    color: #fff;
    line-height: 1.5em;
    overflow: hidden;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(66px);
    -moz-transform: translateY(66px);
    -ms-transform: translateY(66px);
    transform: translateY(66px);
    -webkit-transition: -webkit-transform 105ms ease 30ms, opacity 105ms ease 30ms;
    -moz-transition: -moz-transform 105ms ease 30ms, opacity 105ms ease 30ms;
    -ms-transition: -ms-transform 105ms ease 30ms, opacity 105ms ease 30ms;
    transition: transform 105ms ease 30ms,opacity 105ms ease 30ms;
}
.desc{
    z-index: 10;
    background: rgba(85, 85, 85, 0.7);
    overflow: hidden;
    -webkit-transition: all 450ms ease 295ms;
    -moz-transition: all 450ms ease 295ms;
    -ms-transition: all 450ms ease 295ms;
    transition: all 450ms ease 295ms;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}
.doc_div:hover .desc {
    opacity: 1;
    display: block;
    -webkit-transition: all 300ms ease-out 0ms;
    -moz-transition: all 300ms ease-out 0ms;
    -ms-transition: all 300ms ease-out 0ms;
    transition: all 300ms ease-out 0ms;
}
.doc_div:hover .text {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 335ms ease 225ms, opacity 335ms ease 225ms;
    -moz-transition: -moz-transform 335ms ease 225ms, opacity 335ms ease 225ms;
    -ms-transition: -ms-transform 335ms ease 225ms, opacity 335ms ease 225ms;
    transition: transform 335ms ease 225ms,opacity 335ms ease 225ms;
}
.exam_item {
    position: relative;
    width: 100%;
    /* height: 80px; */
    height: 90px;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.exam_item_title_div {
    display: flex;
    align-items: center; 
}
.exam_item_title_tag {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #0c9bff;
    color: #0c9bff;
    border-radius: 3px;
    /* display: inline-block; */
    text-align: center;
    line-height: 18px;
}
.exam_item_title {
    flex: 1;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
}
.exam_item_title_price {
    color: #d51423;
}
.exam-item-tip{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    /* padding-left: 28px; */
}
.zone_body_nomargin {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.info_item {
    width: 33.3%;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 0 10px;
}
.info_item_div {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.3s;
  transition: border-color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s, -webkit-box-shadow 0.3s;
}
.info_item .ant-card-body{
      background: #fff;
      border-radius: 8px;
}
.info_title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}
.info_title_left {
    background: #2388ec;
    height: 16px;
    width: 3px;
    margin-right: 5px;
}
.info_title_name {
    flex: 1;
}
.info_img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.info_content_name{
    font-size: 16px;
    line-height: 22px;
    color: #2388ec;
    margin-top: 10px;
}
.info_content{
    font-size: 12px;
    line-height: 17px;
    color: #999;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.info_footer {
    font-size: 12px;
    line-height: 17px;
    color: #999;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}

.info_item_div:hover{
    border-color: transparent;
    -webkit-box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
            box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.sale_tag {
    position: absolute;
    top: 1px;
    right: 20px;
    color: #fff;
    font-size: 12px;
    right: 20px;
    z-index: 9;
    width: 46px;
    height: 46px;
    padding-top: 5px;
    text-align: center;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAYAAABXuSs3AAAAAXNSR0IArs4c6QAAAc5JREFUaAXtmTFLw2AQhu9atUIRLBZEEYpx1ILO7eKim04FjT/BP+TeKuIgOOjg4qKbCBUFF6WDLtJoRVBbmpxXUYRQ9KJXpXBdyvflzZvne/IlS/A8PUHQhb9YFzK/IRv4X985M27GhQZsqwhFqcXMuJpKYZEZF4pSi5lxNZXCIjMuFKUWM+NqKoVFZlwoSi1mxtVUCovMuFCUWsyMq6kUFplxoSi1mBlXUyksMuNCUWoxM66mUlhkxoWi1GKdM05wQwRNNdJQkSo4Ed0B0Rr5kJ/0LsdeGs8jPLdKQEc8r/p1DxU+F9aZaTeAoBj3KnuTAI2QnLfhyeB4JhFHlwcuIE61y0SZ+xl4yx7CIQCWGk1/a6ZWqUW56GnKycZisIIAS7yITJRzP7KRwJn3gm97qenTOsNWPkp+8Y/nKScHvAiWUGAZQ9Kub8EZ9BaJNgPEYrZ6dSwtjprj4t5EypnDeGsRsICAya862oIz7BOftBP4UPLur/ZnoXNvh3ZwZRhO9qSTi3zMJcJ5ROgJ5z7BiQI+eMCbt1jDh+18tfoYDv/H+HhgNJ3o6y8wvIsEOX4m+NHgjXWWdsoMW/KpvjHtXd/8B5z0mu9vpmXOu6/vHIhQLqp1lQAAAABJRU5ErkJggg==) no-repeat bottom;
}
.sale_tag_price{
    position: relative;
    top: -4px;
}
.rel_div {
    position: relative;
}
.live_time {
    background: rgba(0,0,0,.8);
    color: #fff;
    position: absolute;
    top: -40px;
    left: -10px;
    padding: 0 -10px;
    width: 300px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}