
.recruit_page .person_content {
    background: #fff;
    border-radius: 8px;
        width: 1012px;
}
.recruit_page .person_content .person_title{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-align: center;
    line-height: 100px;
}
.recruit_page .person_info {
    padding: 0 50px 50px;
    min-height: 400px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
}
.recruit_page .apply_btn {
    display: inline-block;
    width: 160px;
    line-height: 36px;
    color: #fff;
    background: #d51423;
    text-align: center;
    border-radius: 6px;
    position: relative;
    left: 50%;
    margin-left: -80px;
    margin-top: 10px;
    cursor: pointer;
}