.list_page .header_list {
    border-top: 1px solid #d7d7d7;
    background: #fff;
}
.list_page .header_list .list_content {
    width: 1200px;
    margin: 0 auto;
    /* padding-bottom: 12px; */
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    display: flex;
    flex-direction: column;
}
.list_page .content_ul {
    display: inline-block;
    margin-top: 23px;
    margin-block-end: 1em !important;
}
.list_page .content_ul li {
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 0 6px;
    border-radius: 6px;
    margin: 0 6px;
    cursor: pointer;
}
.list_page .content_ul li.now {
    background: #333;
    color: #fff!important;
}
.list_page .content_ul li:hover{
    color: red;
}

.list_page .course_content {
    background: #f5f5f5;
    padding: 30px 0 10px;
}

.list_page .index_content_zone {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.zone_body_item {
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}
.zone_body_item:hover {
    transform: translate(0,-5px);
	transition-delay: 0s !important;
}