html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


a:hover {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
main {
  min-height: calc(100vh - 230px);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  /* margin-block-end: 1em; */
  margin-block-end: 0px !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.flex{
  display:flex;
}
.flex_1{
  flex: 1;
}
.width100{
  width: 100% !important;
}
.width_200{
  width: 200px;
}
.width_200_padding_20{
  width: 200px;
  padding: 0 20px
}

.c_green{
  color: #19be6b;
}
.c_blue {
    color: #107ec4;
}
.c_bg_blue {
    background: #107ec4 !important;
}
.c_red {
    color: #d51423;
}
.c_bg_red {
    background: #d51423 !important;
}
.c_333 {
    color: #333;
}
.c_999 {
    color: #999;
}

.ma_t_b_20{
  margin:20px 0
}
.mgt20 {
    margin-top: 20px;
}
.ma_r_20{
  margin-right: 20px;
}
.ma_l_20{
  margin-left: 20px;
}
.mgt10 {
    margin-top: 10px;
}
.mgb10 {
    margin-bottom: 10px;
}
.mgb20 {
    margin-bottom: 20px;
}
.pat10 {
    padding-top: 10px;
}
.pab10 {
    padding-bottom: 10px;
}
.col {
    width: 4px;
    height: 14px;
    background: #333;
    display: inline-block;
}

.c_gold {
    color: #ca9e70;
}
.font_12{
  font-size: 12px;
}
.font14 {
    font-size: 14px;
}
.font16 {
    font-size: 16px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.font22 {
    font-size: 22px;
}
.font24 {
    font-size: 24px;
}
.font26 {
    font-size: 26px;
}
.font28 {
    font-size: 28px;
}
.font30 {
    font-size: 30px;
}

.font_b {
    font-weight: 700;
}
.pd20 {
    padding: 20px;
}
.b_fff {
    background: #fff;
}
.c_ccc {
    color: #ccc;
}

.bor_bot_f0{
  border-bottom:  1px  solid #f0f0f0
}

/* //flex */
.flex {
  display: flex;
}
.flex_c {
  display: flex;
  flex-direction: column;
}
.flex_a_c {
  align-items: center;
}
.flex_a_s {
  align-items: flex-start;
}
.flex_j_c {
  justify-content: center;
}
.flex_1 {
  flex: 1;
}

.flex_r_a{
  display: flex;
  align-items: center;
}
.flex_c{
  display: flex;
  flex-direction: column;
}


.border-right{
      border-right: 1px solid #e6e6e6;
}
/* title */
.t_1{
  font-size:16px;
  font-weight:bold;
}
.t_2{
 font-size: 12px;
}

/* img */
.img_w_50_cir{
  width: 50px;
  border-radius: 50%;
}

/* menu */
.ant-menu-submenu-popup{
  z-index: 200 !important;
}
.page_f5f5f5{
  background: #f5f5f5;
  padding: 20px 0 60px 0;
}
.page_fff{
  background: #fff;
}
.div_1200{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.bor_r_8{
  border-radius: 8px;
}
.bor_r_10{
  border-radius: 10px;
}

.pointer{
  cursor: pointer;
}
/* 登录注册输入框 */
.register_form_row {
  height: 40px  !important;
  margin-top: 12px !important;

  width: 100% !important;
  height: 46px !important;
  padding-left: 10px !important;
  margin-top: 20px !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  border-color: #e6e6e6 !important;
  flex: 1 !important;
}

/* 验证码 */
.get_verify_code {
  height: 46px !important;
  color: #fff !important;
  background: #2388ec !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  min-width: 100px !important;
}
.verify_code {
  display: flex;
  padding-left: 0 !important;
  border-radius: 0!important;
}
.relative{
  position: relative;
}
.correct_answer{
    position: absolute;
    top: -8px;
    right: -30px;
    width: 90px;
    height: 45px;
    background: #0B76DE;
    transform: rotate(45deg);
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
}
.lookMore{
  outline: none;
  color: #00a1d6;
  text-decoration: none;
  cursor: pointer;
  padding: 2px 3px;
  border-radius: 4px;
}
.lookMore:hover{
  background-color: #d3d3d3;
}

